@use "sass:color";
@use "../../shared/variables.scss";

.mark {
  border-radius: 4px;
  border: 1px solid color.adjust(variables.$copper, $lightness: -5%);
  box-shadow: 0px 0px 5px 1px color.adjust(variables.$copper, $lightness: -5%);
  height: 100px;
  width: 100px;
  background: variables.$copper;
  margin-top: 10px;
  display: flex;
  align-items: center;
  flex-direction: column;
  cursor: pointer;
}

.notice {
  animation-name: notice;
  animation-duration: 2500ms;
  animation-timing-function: ease-in-out;
  animation-delay: 1500ms;
  animation-iteration-count: infinite;
}

@keyframes notice {
  5% { transform: rotate(2deg); }
  10% { transform: rotate(-2deg); }
  15% { transform: rotate(2deg); }
  20%, 100% { transform: rotate(0deg); }
}

.bug {
  height: 80%;
  width: 80%;
  max-height: 80px;
  max-width: 80px;
  margin: 10px 0 10px 0;
}

.content {
  display: flex;
  gap: 10px;
  justify-content: flex-end;
  height: calc(100% - 110px);
  width: calc(100% - 20px);

  .portrait {
    display: flex;
    justify-content: center;
    border-radius: 4px;
    height: 100%;
    width: 50%;
    overflow: hidden;
    background: variables.$portraitBg;
    
    img {
      height: auto;
      min-width: 263px;
      min-height: 342px;
    }
  }

  .full-width {
    width: 100% !important;
  }

  .about {
    display: flex;
    flex-direction: column;
    border-radius: 4px;
    height: 100%;
    width: 50%;
    background: variables.$copper70;
    padding: 10px;
    box-sizing: border-box;
    overflow-y: auto;

    scrollbar-gutter: stable both-edges;
    scrollbar-width: thin;
    scrollbar-color: blue none;

    .tech {
      display: flex;
      gap: 10px;
      flex-wrap: wrap;
      border-radius: 4px;
      background: variables.$copper;
      padding: 8px;

      .icon {
        height: 40px;
        width: 40px;        
      }

      .white {
        background: white;
      }

      .contain {
        object-fit: contain;
      }
    }
  }

  .about::-webkit-scrollbar {
    width: 8px;
  }

  .about::-webkit-scrollbar-track {
    background: none;
  }

  .about::-webkit-scrollbar-thumb {
    background-color: variables.$teal;
    border-radius: 20px;
  }

  .no-scroll {
    overflow: hidden !important;
  }
}