@import "../../shared/variables.scss";

.mark {
  border-radius: 4px;
  height: 100px;
  width: 100px;
  background: $copper;
  margin-top: 10px;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.bug {
  height: 80%;
  width: 80%;
  max-height: 80px;
  max-width: 80px;
  margin: 10px 0 10px 0;
}

.shake:hover {
  animation-name: shake;
  animation-duration: 500ms;
  animation-timing-function: ease-in-out;
}

@keyframes shake {
  0% { transform: rotate(0deg); }
  25% { transform: rotate(2deg); }
  50% { transform: rotate(-2deg); }
  75% { transform: rotate(2deg); }
  100% { transform: rotate(0deg); }
}

.content {
  display: flex;
  gap: 10px;
  justify-content: flex-end;
  height: calc(100% - 110px);
  width: calc(100% - 20px);

  .portrait {
    display: flex;
    justify-content: center;
    border-radius: 4px;
    height: 100%;
    width: 50%;
    overflow: hidden;
    background: $portraitBg;
    
    img {
      height: auto;
      max-width: 100%;
    }
  }

  .about {
    border-radius: 4px;
    height: 100%;
    width: 50%;
    background: $copper70;
    padding: 10px;
    box-sizing: border-box;
    overflow: hidden;
  }
}