@import "../../shared/variables.scss";

.mark {
  border-radius: 4px;
  height: 100px;
  width: 100px;
  background: $copper;
  margin-top: 10px;
  display: flex;
  align-items: center;
  flex-direction: column;
  cursor: pointer;
}

.notice {
  animation-name: notice;
  animation-duration: 2500ms;
  animation-timing-function: ease-in-out;
  animation-delay: 1500ms;
  animation-iteration-count: infinite;
}

@keyframes notice {
  5% { transform: rotate(2deg); }
  10% { transform: rotate(-2deg); }
  15% { transform: rotate(2deg); }
  20%, 100% { transform: rotate(0deg); }
}

.bug {
  height: 80%;
  width: 80%;
  max-height: 80px;
  max-width: 80px;
  margin: 10px 0 10px 0;
}

.content {
  display: flex;
  gap: 10px;
  justify-content: flex-end;
  height: calc(100% - 110px);
  width: calc(100% - 20px);

  .portrait {
    display: flex;
    justify-content: center;
    border-radius: 4px;
    height: 100%;
    width: 50%;
    overflow: hidden;
    background: $portraitBg;
    
    img {
      height: auto;
      max-width: 100%;
      min-width: 263px;
      min-height: 342px;
    }
  }

  .about {
    display: flex;
    flex-direction: column;
    border-radius: 4px;
    height: 100%;
    width: 50%;
    background: $copper70;
    padding: 10px;
    box-sizing: border-box;
    overflow-y: auto;

    .tech {
      display: flex;
      gap: 10px;
      flex-wrap: wrap;
      border-radius: 4px;
      background: $copper;
      padding: 10px;

      .icon {
        height: 40px;
        width: 40px;        
      }

      .white {
        background: white;
      }
    }
  }

  .no-scroll {
    overflow: hidden !important;
  }
}