<div class="content">
  <div class="cards">
    <div class="card">
      <img class="card-content" src="/assets/github.png" alt="GitHub profile" title="GitHub" role="link"
          (click)="goTo($event, 'https://github.com/tgmoore')" tabindex="0" (keydown)="goTo($event, 'https://github.com/tgmoore')"/>
    </div>
    <div class="card">
      <img class="card-content" src="/assets/in.png" alt="LinkedIn profile" title="LinkedIn" role="link"
          (click)="goTo($event, 'https://www.linkedin.com/in/tyler-moore-15688916a/')"
          tabindex="0" (keydown)="goTo($event, 'https://www.linkedin.com/in/tyler-moore-15688916a/')"/>
    </div>
    <div class="card">
      <img class="card-content" src="/assets/scholar.svg" alt="Google Scholar profile" title="Google Scholar"
          role="link" (click)="goTo($event, 'https://scholar.google.com/citations?user=SrtnzQEAAAAJ')" tabindex="0" 
          (keydown)="goTo($event, 'https://scholar.google.com/citations?user=SrtnzQEAAAAJ')"/>
    </div>
  </div>
</div>