<div class="content">
  <div class="card">
    <img class="card-content" src="/assets/github.png" alt="GitHub profile"
        (click)="goTo('https://github.com/tgmoore')" />
  </div>
  <div class="card">
    <img class="card-content" src="/assets/in.png" alt="LinkedIn profile"
        (click)="goTo('https://www.linkedin.com/in/tyler-moore-15688916a/')" />
  </div>
  <div class="card">
    <img class="card-content" src="/assets/scholar.svg" alt="Google Scholar profile"
    (click)="goTo('https://scholar.google.com/citations?user=SrtnzQEAAAAJ')" />
  </div>
</div>