@use "../../shared/variables.scss";

.content {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 20px;
  height: 150px;
}

@media (max-width: 600px) {
  .cards {
    height: auto;
    flex-direction: column;
  }
}

.card {
  border: 1px black;
  border-radius: 4px;
  height: 150px;
  width: 150px;
  background-color: variables.$copper;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card-content {
  max-height: 120px;
  max-width: 120px;
  height: 100%;
  width: 100%;
  cursor: pointer;
}
