@use "shared/variables.scss";

html, body { height: 100%; }
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  background: var(variables.$azure);
}

img {
  max-width: 100%;
  object-fit: cover;
}

.bar {
  height: 50px;
  background: variables.$teal;
  display: flex;
  justify-content: center;
}