@import "shared/variables.scss";

html, body { height: 100%; }
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  background: var($azure);
}

.bar {
  height: 50px;
  background: $blue;
  display: flex;
  justify-content: center;
}