@import "../../shared/variables.scss";

.bar {
  height: 50px;
  background: $blue;
  display: flex;
  justify-content: center;

}

.mark {
  border-radius: 100px;
  height: 70px;
  width: 70px;
  background: $copper;
  margin-top: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.initials {
  
}